body {
  color: Black;
}

.tooltipje{
  text-anchor: middle;
  font-size: 12px;
  font-weight: bold;
}

.xAs {
  font-size: 10px;
}

.yAs {
  font-size: 10px;
}

.title{
  font-size: 18px;
  text-anchor: middle;
}

.ondertitel {
  font-size: 22px;
  text-anchor: middle;
}
